In [9]:
# Pandas:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame


# Series: 1D array tjta behaves like a dictionary:
obj = pd.Series([4 ,7, -5, 3])
print(obj)


# Keys are by default numbers:
print('Keys: ' + str(obj.index))
print('Values:' + str(obj.values))

# Assign char keys to values via Series:
obj2 = pd.Series([4,7,-5,3], index=['d','b','a','c'])
print(obj2)

print(obj2.index)

# Select values using normal array selection:
print('a: ' + str(obj2['a']))
print('d: '+ str(obj2['d']))

# Can swap filed order temporarily:
print(obj2[['c','a','d']])
print(obj2)


# Can filter to generate a boolean array:
print(obj2 > 0)

# Can update values via scalar mult:
print(obj2 * 2)

# Can perform math funcions:
np.exp(obj2)

# Can be used in many of the same circumstances in which we use a dict:
print('b' in obj2)

# We can create  Series from a dict:
sdata = {'Ohio':35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
print(obj3)


# We can override the order of of the dict keys by manually ordering:
# CA: NAN - Does not exist in sdata
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
print(obj4)

# isNull() / notNull functions provide Boolean output:
print(pd.isnull(obj4))

# Also a instance method on the object itself:
print(obj4.isnull())

# Can combine series via arithmetic operations
# which operates according to the key/index value
# Works similar to a JOIN in SQL by field
print()
print('Obj3: ')
print(obj3)
print('Obj4:' )
print(obj4)
print('Sum of obj3 + obj4: ')
print(obj3 + obj4)


# SERIES objects have both name and index attributes:
obj4.name = 'population'

obj4.index.name = 'state'

print(obj4)

# A series indexes can be altered inplace:
print('Default numerical indexes can be replaced by string indexes INPLACE by assignment:')
print(obj)

obj.index = ['Bob','Steve','Jeff', 'Ryan']
print('Updated indexes: ')
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64
Keys: RangeIndex(start=0, stop=4, step=1)
Values:[ 4  7 -5  3]
d    4
b    7
a   -5
c    3
dtype: int64
Index(['d', 'b', 'a', 'c'], dtype='object')
a: -5
d: 4
c    3
a   -5
d    4
dtype: int64
d    4
b    7
a   -5
c    3
dtype: int64
d     True
b     True
a    False
c     True
dtype: bool
d     8
b    14
a   -10
c     6
dtype: int64
True
Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64
California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool
California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

Obj3:
Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64
Obj4:
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64
Sum of obj3 + obj4:
California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64
state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64
Default numerical indexes can be replaced by string indexes INPLACE by assignment:
0    4
1    7
2   -5
3    3
dtype: int64
Updated indexes:
Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64